name: Github release

on:
  workflow_call:
    secrets:
      FLAMINGOCK_JRELEASER_GITHUB_TOKEN:
        required: true
      FLAMINGOCK_JRELEASER_MAVENCENTRAL_USERNAME:
        required: true
      FLAMINGOCK_JRELEASER_MAVENCENTRAL_PASSWORD:
        required: true
      FLAMINGOCK_JRELEASER_GPG_PUBLIC_KEY:
        required: true
      FLAMINGOCK_JRELEASER_GPG_SECRET_KEY:
        required: true
      FLAMINGOCK_JRELEASER_GPG_PASSPHRASE:
        required: true

jobs:
  github-release:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout project
        uses: actions/checkout@v2
        with:
          fetch-depth: 0

      - name: Cache Gradle packages
        uses: actions/cache@v4
        with:
          path: |
            ~/.gradle/caches
            ~/.gradle/wrapper
            ~/.gradle/build-cache
          key: ${{ runner.os }}-gradle-${{ hashFiles('**/*.gradle*', '**/gradle-wrapper.properties') }}
          restore-keys: |
            ${{ runner.os }}-gradle-

      - name: Set up Java
        uses: graalvm/setup-graalvm@v1
        with:
          java-version: '17'
          distribution: 'graalvm-community'
          github-token: ${{ secrets.FLAMINGOCK_JRELEASER_GITHUB_TOKEN }}

      - name: Build CLI distributions
        run: ./gradlew :cli:flamingock-cli:assemble

      - name: Prepare JReleaser Files
        run: |
          mkdir -p build/jreleaser/distributions
          cp cli/flamingock-cli/build/distributions/* build/jreleaser/distributions/
          echo "Verifying contents of staging directory:"
          ls -lR build/jreleaser/distributions/

      - name: Publish Release to Github
        run: ./gradlew jreleaserRelease
        env:
          JRELEASER_GITHUB_TOKEN: ${{ secrets.FLAMINGOCK_JRELEASER_GITHUB_TOKEN }}
          JRELEASER_GPG_PUBLIC_KEY: ${{ secrets.FLAMINGOCK_JRELEASER_GPG_PUBLIC_KEY }}
          JRELEASER_GPG_SECRET_KEY: ${{ secrets.FLAMINGOCK_JRELEASER_GPG_SECRET_KEY }}
          JRELEASER_GPG_PASSPHRASE: ${{ secrets.FLAMINGOCK_JRELEASER_GPG_PASSPHRASE }}
